
/********************************************************
      FizBase.css https://github.com/BrandonKnudsen/Fizbase-css
********************************************************/
/********************************************************
      Helper classes
********************************************************/

/**** Text color */
.cblu{color: #2C66B1;}
.cgre{color: #51a84f;}
.cyel{color: #fab758;}
.cred{color: #c73a2d;}
.cwhi{color: #fff !important;}
.cbla{color: #000;}
.cgra{color: #aaaaaa;}

.bcblu{background-color: #2C66B1; border-color: #2C66B1;}
.bcgre{background-color: #51a84f; border-color: #51a84f;}
.bcyel{background-color: #fab758; border-color: #fab758;}
.bcred{background-color: #c73a2d; border-color: #c73a2d;}
.bcwhi{background-color: #fff; border-color: #fff;}
.bcbla{background-color: #000; border-color: #000;}
.bcgra{background-color: #aaaaaa; border-color: #aaaaaa;}

.bcblu:hover,
.bcblu:focus,
.bcblu:active,
.bcblu.active,
.bcblu.disabled,
.bcblu[disabled] {
    color: #ffffff !important;
    background-color: #3b7ed6 !important;
}
.bcblu:active,
.bcblu.active {
    background-color: #2C66B1 \9 !important;
}

.bcgre:hover,
.bcgre:focus,
.bcgre:active,
.bcgre.active,
.bcgre.disabled,
.bcgre[disabled] {
    color: #ffffff !important;
    background-color: #62cd61 !important;
}
.bcgre:active,
.bcgre.active {
    background-color: #51a84f \9 !important;
}

.bcyel:hover,
.bcyel:focus,
.bcyel:active,
.bcyel.active,
.bcyel.disabled,
.bcyel[disabled] {
    color: #ffffff !important;
    background-color: #fada58 !important;
}
.bcyel:active,
.bcyel.active {
    background-color: #fab758 \9 !important;
}


.bcred:hover,
.bcred:focus,
.bcred:active,
.bcred.active,
.bcred.disabled,
.bcred[disabled] {
    color: #ffffff !important;
    background-color: #e35749 !important;
}
.bcred:active,
.bcred.active {
    background-color: #c73a2d \9 !important;
}


.bcwhi:hover,
.bcwhi:focus,
.bcwhi:active,
.bcwhi.active,
.bcwhi.disabled,
.bcwhi[disabled] {
    color: #000 !important;
    background-color: #fff !important;
}
.bcwhi:active,
.bcwhi.active {
    background-color: #fff \9 !important;
}


.bcbla:hover,
.bcbla:focus,
.bcbla:active,
.bcbla.active,
.bcbla.disabled,
.bcbla[disabled] {
    color: #ffffff !important;
    background-color: #000 !important;
}
.bcbla:active,
.bcbla.active {
    background-color: #000 \9 !important;
}


.bcgra:hover,
.bcgra:focus,
.bcgra:active,
.bcgra.active,
.bcgra.disabled,
.bcgra[disabled] {
    color: #ffffff !important;
    background-color: #d5d5d5 !important;
}
.bcgra:active,
.bcgra.active {
    background-color: #aaaaaa \9 !important;
}



/**** Position */
.fiz-hide{display: none;}
.fiz-left{float: left;}
.fiz-right{float: right !important;}
.fiz-clear{clear: both;}
.fiz-relative{position: relative;}
.fiz-absolute{position: absolute;}

/**** align */
.fiz-justify{text-align: justify;}
.fiz-aright{text-align: right;}
.fiz-aleft{text-align: left;}
.fiz-acenter{text-align: center;}

/**** cursor */
.pointer{cursor: pointer;}

/**** margin */
.mar5{margin: 5px;}
.mar10{margin: 10px;}
.mar15{margin: 15px;}
.mar20{margin: 20px;}
.mar25{margin: 25px;}
.mar50{margin: 50px;}

.mart5{margin-top: 5px;}
.mart10{margin-top: 10px;}
.mart15{margin-top: 15px;}
.mart20{margin-top: 20px;}
.mart25{margin-top: 25px;}
.mart50{margin-top: 50px;}
.mart200{margin-top: 200px;}

.marl5{margin-left: 5px;}
.marl10{margin-left: 10px;}
.marl15{margin-left: 15px;}
.marl20{margin-left: 20px;}
.marl25{margin-left: 25px;}
.marl50{margin-left: 50px;}
.marl200{margin-left: 200px;}

.marb5{margin-bottom: 5px;}
.marb10{margin-bottom: 10px;}
.marb15{margin-bottom: 15px;}
.marb20{margin-bottom: 20px;}
.marb25{margin-bottom: 25px;}
.marb50{margin-bottom: 50px;}

.marr5{margin-right: 5px;}
.marr10{margin-right: 10px;}
.marr15{margin-right: 15px;}
.marr20{margin-right: 20px;}
.marr25{margin-right: 25px;}
.marr50{margin-right: 50px;}

/**** padding */
.pad5{padding: 5px;}
.pad10{padding: 10px;}
.pad15{padding: 15px;}
.pad20{padding: 20px;}
.pad25{padding: 25px;}
.pad50{padding: 50px;}

.padt5{padding-top: 5px;}
.padt10{padding-top: 10px;}
.padt15{padding-top: 15px;}
.padt20{padding-top: 20px;}
.padt25{padding-top: 25px;}
.padt50{padding-top: 50px;}

.padl5{padding-left: 5px;}
.padl10{padding-left: 10px;}
.padl15{padding-left: 15px;}
.padl20{padding-left: 20px;}
.padl25{padding-left: 25px;}
.padl50{padding-left: 50px;}

.padb5{padding-bottom: 5px;}
.padb10{padding-bottom: 10px;}
.padb15{padding-bottom: 15px;}
.padb20{padding-bottom: 20px;}
.padb25{padding-bottom: 25px;}
.padb50{padding-bottom: 50px;}

.padr5{padding-right: 5px;}
.padr10{padding-right: 10px;}
.padr15{padding-right: 15px;}
.padr20{padding-right: 20px;}
.padr25{padding-right: 25px;}
.padr50{padding-right: 50px;}




/**** text size */
.text-small{font-size: 12px !important;}
.text-normal{font-size: 14px !important;}
.text-medium{font-size: 16px !important;}
.text-large{font-size:18px !important;}
.text-big{font-size: 22px !important;}
.text-huge{font-size: 34px !important;}

/**** boxes */
.fiz-box{
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px 0 #aaaaaa;
    -moz-box-shadow: 0 1px 3px 0 #aaaaaa;
    box-shadow: 0 1px 3px 0 #aaaaaa;
}
.fiz-boxx{
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px 0 #aaaaaa;
    -moz-box-shadow: 0 1px 3px 0 #aaaaaa;
    box-shadow: 0 1px 3px 0 #aaaaaa;
}
/**** shades */
.fiz-sha{
    -webkit-box-shadow: inset 0px 0px 5px 0px #999999;

    box-shadow: inset 0px 0px 5px 0px #999999;
}
.fiz-tsha{
    text-shadow: 1px 1px 1px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
}
/********************************************************
      Widths
********************************************************/
/* Fizbase: Large SCREENS */
.l0 {
    width: 0%;
    display: none;
}
.l95 {
    width: 95%;
    float: left;
}
.l90 {
    width: 90%;
    float: left;
}
.l85 {
    width: 85%;
    float: left;
}
.l80 {
    width: 80%;
    float: left;
}
.l75 {
    width: 75%;
    float: left;
}
.l70 {
    width: 70%;
    float: left;
}
.l65 {
    width: 65%;
    float: left;
}
.l60 {
    width: 60%;
    float: left;
}
.l55 {
    width: 55%;
    float: left;
}
.l50 {
    width: 50%;
    float: left;
}
.l45 {
    width: 45%;
    float: left;
}
.l40 {
    width: 40%;
    float: left;
}
.l35 {
    width: 35%;
    float: left;
}
.l30 {
    width: 30%;
    float: left;
}
.l25 {
    width: 25%;
    float: left;
}
.l20 {
    width: 20%;
    float: left;
}
.l15 {
    width: 15%;
    float: left;
}
.l10 {
    width: 10%;
    float: left;
}
.l5 {
    width: 5%;
    float: left;
}
.l33 {
    width: 33.33%;
    float: left;
}
.l66 {
    width: 66.66%;
    float: left;
}
.l100 {
    width: 100%;
    clear: both;
    float: none;
}

/* Fizbase: MEDIUM SCREENS */
@media screen and (max-width: 1200px) {

    .m0 {
        width: 0%;
        display: none;
    }
    .m95 {
        width: 95%;
        float: left;
    }
    .m90 {
        width: 90%;
        float: left;
    }
    .m85 {
        width: 85%;
        float: left;
    }
    .m80 {
        width: 80%;
        float: left;
    }
    .m75 {
        width: 75%;
        float: left;
    }
    .m70 {
        width: 70%;
        float: left;
    }
    .m65 {
        width: 65%;
        float: left;
    }
    .m60 {
        width: 60%;
        float: left;
    }
    .m55 {
        width: 55%;
        float: left;
    }
    .m50 {
        width: 50%;
        float: left;
    }
    .m45 {
        width: 45%;
        float: left;
    }
    .m40 {
        width: 40%;
        float: left;
    }
    .m35 {
        width: 35%;
        float: left;
    }
    .m30 {
        width: 30%;
        float: left;
    }
    .m25 {
        width: 25%;
        float: left;
    }
    .m20 {
        width: 20%;
        float: left;
    }
    .m15 {
        width: 15%;
        float: left;
    }
    .m10 {
        width: 10%;
        float: left;
    }
    .m5 {
        width: 5%;
        float: left;
    }
    .m33 {
        width: 33.33%;
        float: left;
    }
    .m66 {
        width: 66.66%;
        float: left;
    }
    .m100 {
        width: 100%;
        clear: both;
        float: none;
    }
    [class*="m"] {
        margin-top: 0;
        zoom: 1;
    }
    table[class*="m"],
    th[class*="m"],
    td[class*="m"] {
        float: none;
    }
}

/* Fizbase: SMALL SCREENS */
@media screen and (max-width: 700px) {

    .s0 {
        width: 0%;
        display: none;
    }
    .s95 {
        width: 95%;
        float: left;
    }
    .s90 {
        width: 90%;
        float: left;
    }
    .s85 {
        width: 85%;
        float: left;
    }
    .s80 {
        width: 80%;
        float: left;
    }
    .s75 {
        width: 75%;
        float: left;
    }
    .s70 {
        width: 70%;
        float: left;
    }
    .s65 {
        width: 65%;
        float: left;
    }
    .s60 {
        width: 60%;
        float: left;
    }
    .s55 {
        width: 55%;
        float: left;
    }
    .s50 {
        width: 50%;
        float: left;
    }
    .s45 {
        width: 45%;
        float: left;
    }
    .s40 {
        width: 40%;
        float: left;
    }
    .s35 {
        width: 35%;
        float: left;
    }
    .s30 {
        width: 30%;
        float: left;
    }
    .s25 {
        width: 25%;
        float: left;
    }
    .s20 {
        width: 20%;
        float: left;
    }
    .s15 {
        width: 15%;
        float: left;
    }
    .s10 {
        width: 10%;
        float: left;
    }
    .s5 {
        width: 5%;
        float: left;
    }
    .s33 {
        width: 33.33%;
        float: left;
    }
    .s66 {
        width: 66.66%;
        float: left;
    }
    .s100 {
        width: 100%;
        clear: both;
        float: none;
    }
    [class*="s"] {
        margin-top: 0;
        zoom: 1;
    }
    table[class*="s"],
    th[class*="s"],
    td[class*="s"] {
        float: none;
    }
}

